<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--========================= ICONS ============================-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <!--=========================FAVEICON ============================-->
  <link rel="icon" href="img/apple-touch-icon-180x180-precomposed.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
  <!--========================= SWIPER CSS ============================-->
  <link rel="stylesheet" href="/static/css/swiper-bundle.min.css"> <!-- type="text/css" -->
  <!--========================= CSS ============================-->
  <link rel="stylesheet" href="/static/css/style.css">
  <title>P O R T F O L I O</title>
</head>

<body>
  <!--========================= HEADER ============================-->
  <header class="header" id="header">
    <nav class="nav container">
      <a href="/" class="nav__logo">KAHRAMON</a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
          <!-- 1 -->
          <li class="nav__item">
            <a href="#home" class="nav__link" active-link="">
              <i class="uil uil-estate nav__icon"></i> Home
            </a>
          </li>
          <!-- 2 -->
          <li class="nav__item">
            <a href="#about" class="nav__link">
              <i class="uil uil-user nav__icon"></i> About
            </a>
          </li>
          <!-- 3 -->
          <li class="nav__item">
            <a href="#skills" class="nav__link">
              <i class="uil uil-file-alt nav__icon"></i> Skills
            </a>
          </li>
          <!-- 4 -->
          <li class="nav__item">
            <a href="#qualification" class="nav__link">
              <i class="uil uil-scenery nav__icon"></i> Qualification
            </a>
          </li>
          <!-- 5 -->
          <li class="nav__item">
            <a href="#portfolio" class="nav__link">
              <i class="uil uil-briefcase-alt nav__icon"></i> Portfolio
            </a>
          </li>
          <!-- 6 -->
          <li class="nav__item">
            <a href="#contact" class="nav__link">
              <i class="uil uil-message nav__icon"></i> Contactme
            </a>
          </li>
        </ul>
        <i class="uil uil-times nav__close" id="nav-close"></i>
      </div>
      <div class="nav__btns">
        <!-- Theme change button -->
        <i class="uil uil-moon change-theme" id="theme-button"></i>

        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
      </div>
    </nav>
  </header>
  <!--========================= MAIN ============================-->
  <main class="main">
    <section class="qualification section" id="qualification">
      <h2 class="section__title down_anim _anim-items">Qualification</h2>
      <span class="section__subtitle slov_anim _anim-items">My personal journey</span>
      <div class="qualification__container container grid">
        <div class="qualification__certificates">

          <div class="qualification__content right_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/osn-web.jpg">
            <h3>Geekbrains</h3>
            <div class="qualification__title">
              <p class="qualification__description"> Как начать свой путь в разработке?</p>
              <a href="https://gb.ru/certificates/1060048" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content right_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/web-beginer.jpg">
            <h3>Geekbrains</h3>
            <div class="qualification__title">
              <p class="qualification__description"> Веб-разработка для начинающих!</p>
              <a href="https://gb.ru/certificates/1060045?0fb54dafdbe337eb339f5d85ffa30fe2" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content right_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/Js-begin.jpg">
            <div class="qualification__title">
              <h3>Geekbrains</h3>
              <p class="qualification__description"> Программирование на JavaScript!</p>
              <a href="https://gb.ru/certificates/1727470.pdf" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content left_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/Swift-begin.jpg">
            <h3>Geekbrains</h3>
            <div class="qualification__title">
              <p class="qualification__description"> Swift для начинающих!</p>
              <a href="https://geekbrains.ru/certificates/1060031.pdf" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content left_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/osn-ds.jpg">
            <h3>Geekbrains</h3>
            <div class="qualification__title">
              <p class="qualification__description"> Основы веб-дизайна</p>
              <a href="https://gb.ru/certificates/1060025" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content left_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/Python-begin.jpg">
            <div class="qualification__title">
              <h3>Geekbrains</h3>
              <p class="qualification__description">Python для начинающих</p>
              <a href="https://gb.ru/certificates/1060041" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content right_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/Java-begin.jpg">
            <div class="qualification__title">
              <h3>Geekbrains</h3>
              <p class="qualification__description">Java для начинающих</p>
              <a href="https://gb.ru/certificates/1060042" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content right_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/Git-begin.jpg">
            <div class="qualification__title">
              <h3>Geekbrains</h3>
              <p class="qualification__description"> Введение в Git </p>
              <a href="https://gb.ru/certificates/1727544.pdf" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

          <div class="qualification__content right_anim _anim-items">
            <img class="qualification__image" alt="" src="/static/img/ctrtificates/C-begin.jpg">
            <div class="qualification__title">
              <h3>Geekbrains</h3>
              <p class="qualification__description">C# для начинающих</p>
              <a href="https://gb.ru/certificates/1060033" class="button button--small button--link portfolio__button">
                View
              </a>
            </div>
          </div>

        </div>


        <div class="qualification__wrapper">

          <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active right_anim _anim-items" data-target="#education">
              <i class="uil uil-graduation-cap qualification__icon"></i>
              Education
            </div>

            <div class="qualification__button button--flex left_anim _anim-items" data-target="#work">
              <i class="uil uil-briefcase-alt qualification__icon"></i>
              Work
            </div>
          </div>

          <div class="qualification__sections">
            <!--========================= QUALIFICATION CONTENT 1 ============================-->
            <div class="qualification__content qualification__active" data-content="" id="education">
              <!--========================= QUALIFICATION 1 ============================-->
              <div class="qualification__data">
                <div class="slov_anim _anim-items">
                  <h3 class="qualification__title">Compiter Enginner</h3>
                  <span class="qualification__subtitle">RTSU - University</span>
                  <div class="qualification__calendar-alt">
                    <i class="uil uil-calendar-alt"></i>
                    2013 - 2017
                  </div>
                </div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>
              </div>

              <!--========================= QUALIFICATION 2 ============================-->
              <div class="qualification__data">
                <div>

                </div>
                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>

                <div class="down_anim _anim-items">
                  <h3 class="qualification__title">Web Development</h3>
                  <span class="qualification__subtitle">ITMO - University</span>
                  <div class="qualification__calendar-alt">
                    <i class="uil uil-calendar-alt"></i>
                    2019 - 2021
                  </div>
                </div>
              </div>
            </div>

            <!--========================= QUALIFICATION CONTENT 2 ============================-->
            <div class="qualification__content" data-content="" id="work">
              <!--========================= QUALIFICATION 1 ============================-->
              <div class="qualification__data">
                <div>
                  <h3 class="qualification__title">System Administrator</h3>
                  <span class="qualification__subtitle">Sankt-Petersburg</span>
                  <div class="qualification__calendar-alt">
                    <i class="uil uil-calendar-alt"></i>
                    2020 - 2022
                  </div>
                </div>

                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>
              </div>

              <!--========================= QUALIFICATION 2 ============================-->
              <div class="qualification__data">
                <div></div>
                <div>
                  <span class="qualification__rounder"></span>
                  <span class="qualification__line"></span>
                </div>

                <div>
                  <h3 class="qualification__title">Frontend Developer</h3>
                  <span class="qualification__subtitle">ST</span>
                  <div class="qualification__calendar-alt">
                    <i class="uil uil-calendar-alt"></i>
                    2022 - 20..
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--========================= SCROLL TOP ============================-->
  <a href="#" class="scrollup" id="scroll-up">
    <i class="uil uil-arrow-up scrollup__icon"></i>
  </a>
  <!--========================= SWIPER JS ============================-->
  <script src="/static/js/swiper-bundle.min.js"></script>
  <!--========================= APP.JS ============================-->
  <script src="/static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</body>
</html>