<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--========================= ICONS ============================-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <!--=========================FAVEICON ============================-->
  <link rel="icon" href="img/apple-touch-icon-180x180-precomposed.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
  <!--========================= SWIPER CSS ============================-->
  <link rel="stylesheet" href="/static/css/swiper-bundle.min.css"> <!-- type="text/css" -->
  <!--========================= CSS ============================-->
  <link rel="stylesheet" href="/static/css/style.css">
  <title>P O R T F O L I O</title>
</head>

<body>
  <!--========================= HEADER ============================-->
  <header class="header" id="header">
    <nav class="nav container">
      <a href="/" class="nav__logo">KAHRAMON</a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
          <!-- 1 -->
          <li class="nav__item">
            <a href="#home" class="nav__link" active-link="">
              <i class="uil uil-estate nav__icon"></i> Home
            </a>
          </li>
          <!-- 2 -->
          <li class="nav__item">
            <a href="#about" class="nav__link">
              <i class="uil uil-user nav__icon"></i> About
            </a>
          </li>
          <!-- 3 -->
          <li class="nav__item">
            <a href="#skills" class="nav__link">
              <i class="uil uil-file-alt nav__icon"></i> Skills
            </a>
          </li>
          <!-- 4 -->
          <li class="nav__item">
            <a href="#qualification" class="nav__link">
              <i class="uil uil-scenery nav__icon"></i> Qualification
            </a>
          </li>
          <!-- 5 -->
          <li class="nav__item">
            <a href="#portfolio" class="nav__link">
              <i class="uil uil-briefcase-alt nav__icon"></i> Portfolio
            </a>
          </li>
          <!-- 6 -->
          <li class="nav__item">
            <a href="#contact" class="nav__link">
              <i class="uil uil-message nav__icon"></i> Contactme
            </a>
          </li>
        </ul>
        <i class="uil uil-times nav__close" id="nav-close"></i>
      </div>
      <div class="nav__btns">
        <!-- Theme change button -->
        <i class="uil uil-moon change-theme" id="theme-button"></i>

        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
      </div>
    </nav>
  </header>
  <!--========================= MAIN ============================-->
  <main class="main">
    <section class="portfolio section" id="portfolio">
      <h2 class="section__title down_anim _anim-items">Portfolio</h2>
      <span class="section__subtitle slov_anim _anim-items">Most recent work</span>

      <div class="portfolio__container container grid">
        <!--========================= Portfolio 1 ============================-->
        <div class="portfolio__content left_anim _anim-items">
          <img data-fancybox="gallery" class="portfolio__image" alt="ToDoList" src="img/projects/ToDo.png">
          <h2>ToDO List</h2>
          <p class="portfolio__description"> Landing page </p>
          <div class="portfolio__title">
            <a href="https://github.com/HADJIBAEV/Task-ToDoList" class="portfolio__button"><i class="uil uil-github-alt"></i></a>
            <span>View</span>
            <a href="#"><i class="uil uil-arrow"></i></a>
          </div>
        </div>
        <!--========================= Portfolio 2 ============================-->
        <div class="portfolio__content left_anim _anim-items">
          <img data-fancybox="gallery" class="portfolio__image" alt="Drag&Drop" src="img/projects/DragDrop.jpg">
          <h2>Drag&Drop</h2>
          <p class="portfolio__description"> Landing page </p>
          <div class="portfolio__title">
            <a href="https://github.com/HADJIBAEV/Task-DragDrop" class="portfolio__button"><i class="uil uil-github-alt"></i></a>
            <span>View</span>
            <a href="#"><i class="uil uil-arrow"></i></a>
          </div>
        </div>
        <!--========================= Portfolio 3 ============================-->
        <div class="portfolio__content left_anim _anim-items">
          <img data-fancybox="gallery" class="portfolio__image" alt="Trello-Start" src="img/projects/trello-start.jpg">
          <h2>Trello-Start</h2>
          <p class="portfolio__description"> Landing page </p>
          <div class="portfolio__title">
            <a href="#" class="portfolio__button"><i class="uil uil-github-alt"></i></a>
            <span>View</span>
            <a href="#"><i class="uil uil-arrow"></i></a>
          </div>
        </div>
        <!--========================= Portfolio 4 ============================-->
        <div class="portfolio__content right_anim _anim-items">
          <img data-fancybox="gallery" class="portfolio__image" alt="Harley-Davidson" src="img/projects/Harley.jpg">
          <h2>Harley-Davidson</h2>
          <p class="portfolio__description"> Landing page </p>
          <div class="portfolio__title">
            <a href="#" class="portfolio__button"><i class="uil uil-github-alt"></i></a>
            <span>View</span>
            <a href="#"><i class="uil uil-arrow"></i></a>
          </div>
        </div>
        <!--========================= Portfolio 5 ============================-->
        <div class="portfolio__content right_anim _anim-items">
          <img data-fancybox="gallery" class="portfolio__image" alt="Portfolio 2020" src="img/projects/PORTFOLIO.jpg">
          <h2>Portfolio 2020</h2>
          <p class="portfolio__description"> Landing page </p>
          <div class="portfolio__title">
            <a href="https://github.com/HADJIBAEV/Web-Portfolio" class="portfolio__button"><i class="uil uil-github-alt"></i></a>
            <span>View</span>
            <a href="https://kahramonapp.herokuapp.com/"><i class="uil uil-arrow"></i></a>
          </div>
        </div>
        <!--========================= Portfolio 6 ============================-->
        <div class="portfolio__content right_anim _anim-items">
          <img data-fancybox="gallery" class="portfolio__image" alt="Portfolio 2021" src="img/projects/Portfolio-2021.png">
          <h2>Portfolio 2021</h2>
          <p class="portfolio__description"> Landing page </p>
          <div class="portfolio__title">
            <a href="#" class="portfolio__button"><i class="uil uil-github-alt"></i></a>
            <span>View</span>
            <a href="#"><i class="uil uil-arrow"></i></a>
          </div>
        </div>

      </div>
    </section>
  </main>
  <!--========================= FOOTER ============================-->
  <footer class="footer">
    <div class="footer__bg">
      <div class="footer__container container grid">
        <div class="right_anim _anim-items">
          <h1 class="footer__title">KAHRAMON</h1>
          <span class="footer__subtitle">Frontend develop</span>
        </div>

        <ul class="footer__links down_anim _anim-items">
          <li>
            <a href="#portfolio" class="footer__link">Portfolio</a>
          </li>
          <li>
            <a href="#skills" class="footer__link">Skills</a>
          </li>
          <li>
            <a href="#contact" class="footer__link">Contactme</a>
          </li>
        </ul>

        <div class="footer__socials left_anim _anim-items">
          <a href="https://www.facebook.com/profile.php?id=100077676788272" target="_blank" class="footer__social">
            <i class="uil uil-facebook-f"></i>
          </a>
          <a href="https://twitter.com/Roma68690765" target="_blank" class="footer__social">
            <i class="uil uil-twitter-alt"></i>
          </a>
          <a href="https://github.com/HADJIBAEV" target="_blank" class="footer__social">
            <i class="uil uil-github-alt"></i>
          </a>
          <a href="https://vk.com/id446745376" target="_blank" class="footer__social">
            <i class="uil uil-vk-alt"></i>
          </a>
        </div>
      </div>
      <p class="footer__copy top_anim _anim-items">&#169; KAHRAMON. All right reserved</p>
    </div>
  </footer>
  <!--========================= SCROLL TOP ============================-->
  <a href="#" class="scrollup" id="scroll-up">
    <i class="uil uil-arrow-up scrollup__icon"></i>
  </a>
  <!--========================= SWIPER JS ============================-->
  <script src="/static/js/swiper-bundle.min.js"></script>
  <!--========================= APP.JS ============================-->
  <script src="/static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</body>

</html>